{% load static %}

<!doctype html>
<html lang="ko">
<head>
  <title>BOOKBOOK 33</title>
  <!-- meta tags 필요 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="main-content container container-md">
  <nav class="nav-global">
    <ul>
      <li class="nav-global-item">
        <a href="/" class="btn-home">BOOKBOOK 33</a>
      </li>

      <li class="nav-global-item item-sign">
        <a href="/admin" class="btn-sign">️🔒</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-global-item item-new">
          <a href="{% url 'post_new' %}" class="btn-new">️✍🏼</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    <h6 class="home"><a href="/"><strong>BOOKBOOK 33</strong></a></h5>
    <h6 class="about">BOOKBOOK 33은 독서 리뷰를 공유하는 프라이빗 공간입니다. 리뷰를 남기기 위해서는 <a href="mailto:email@echoecho.com?subject=BOOKBOOK 33 리뷰어 신청.&body=자신의 이메일: ">mk.bookbook33@gmail.com</a> 으로 아래의 양식에 따라 이메일을 보내주세요.</h6>
    <h6 class="template">
      제목 : BOOKBOOK 33 리뷰어 신청.<br>
      내용 : sample@myemail.com.
    </h6>

  </footer>
</div>

<!-- Optional JavaScript -->
<!-- 먼저 jQuery가 오고 그 다음 Popper.js 그 다음 Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</body>
</html>

