{% extends 'blog/base.html' %}

{% block content %}
  <ul class="list-posts">
    {% for post in posts %}
      <li class="list-post-item">
        <h2 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <h6 class="date">{{ post.published_date }}</h6>
      </li>
    {% endfor %}
  </ul>
  {% if false %}
    <footer>
      <h6 class="home"><a href="/"><strong>BOOKBOOK 33</strong></a></h5>
      <h6 class="about">BOOKBOOK 33은 독서 리뷰를 공유하는 프라이빗 공간입니다. 리뷰를 남기기 위해서는 <a href="mailto:email@echoecho.com?subject=BOOKBOOK 33 리뷰어 신청.&body=자신의 이메일: ">mk.bookbook33@gmail.com</a> 으로 아래의 양식에 따라 이메일을 보내주세요.</h6>
      <h6 class="template">
        제목 : BOOKBOOK 33 리뷰어 신청.<br>
        내용 : sample@myemail.com.
      </h6>
    </footer>
  {% endif %}
{% endblock %}