@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,500,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700");
body {
  font-family: 'IBM Plex Serif', 'Noto Serif KR', serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #263747;
  word-break: break-word; }

footer {
  margin-top: 120px;
  color: #98A8B9; }
  footer h6 {
    font-size: 14px; }
  footer .home a {
    color: #98A8B9; }
    footer .home a:hover {
      color: #673AB7; }
  footer .about a {
    color: #673AB7; }
    footer .about a:hover {
      color: #512DA8; }
  footer .template {
    margin-top: 8px;
    padding-left: 8px;
    border-left: 2px solid #E1E7EE; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, h2, h3, h4 {
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: -1px;
  line-height: 1.2;
  word-break: keep-all; }

h5, h6 {
  line-height: 1.6; }

p {
  font-size: 22px;
  line-height: 1.7;
  margin: 0 0 16px 0; }
  @media (max-width: 767px) {
    p {
      font-size: 18px;
      line-height: 1.7; } }

a {
  color: #263747; }
  a:hover {
    text-decoration: none;
    color: #673AB7; }

.main-content {
  max-width: 720px;
  padding: 16px 16px 80px 16px; }

.nav-global ul {
  list-style: none;
  padding: 0;
  margin: 0 0 16vh 0;
  font-size: 1.4rem; }
  .nav-global ul .nav-global-item {
    display: inline-block;
    vertical-align: top; }
  .nav-global ul .item-new,
  .nav-global ul .item-sign {
    float: right;
    margin-left: 8px; }

.btn-home {
  font-family: 'IBM Plex Serif', 'Noto Serif KR', serif;
  color: #263747;
  font-weight: 900; }
  .btn-home:hover {
    color: #512DA8; }

.btn-sign,
.btn-new,
.btn-edit {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem; }
  @media (min-width: 768px) {
    .btn-sign:not(:hover),
    .btn-new:not(:hover),
    .btn-edit:not(:hover) {
      filter: brightness(0); } }

.list-posts {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-posts .list-post-item:nth-child(n+2) {
    margin-top: 40px; }
  .list-posts .list-post-item .title {
    font-family: 'IBM Plex Serif', 'Noto Serif KR', serif;
    margin: 0 0 0 -4px; }
    @media (max-width: 767px) {
      .list-posts .list-post-item .title {
        font-size: 1.4rem; } }
  .list-posts .list-post-item .date {
    color: #98A8B9;
    margin-top: 8px;
    font-size: 14px; }

.post-body .title {
  font-size: 3.2rem;
  margin: 0 0 0 -3px; }
.post-body .date {
  margin-top: 8px;
  font-weight: 500; }
.post-body .body {
  margin: 80px 0 0 0; }
  .post-body img {
    max-width: 100%; width: 100%;}
  .post-body .body h1, .post-body .body h2, .post-body .body h3, .post-body .body h4, .post-body .body h5 {
    margin: 0 0 24px 0; }
  .post-body .body h1, .post-body .body h2, .post-body .body h3 {
    margin: 64px 0 24px 0;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -1px;
    word-spacing: -1px; }
  .post-body .body h4, .post-body .body h5 {
    margin: 40px 0 24px 0; }
  .post-body .body h6 {
    margin: -8px 0 12px 0;
    font-size: 18px;
    color: #98A8B9; }
  .post-body .body p {
    margin: 0 0 40px 0; }
  .post-body .body code {
    padding: 2px 8px;
    vertical-align: text-top;
    border-radius: 3px;
    font-family: 'Overpass Mono', monospace;
    background-color: #ECEFF5;
    color: #5F7F90; }
  .post-body .body pre {
    background-color: #ECEFF5;
    color: #5F7F90;
    padding: 12px 20px 16px 20px;
    border-radius: 3px;
    margin: 0 0 40px 0; }
    .post-body .body pre::-webkit-scrollbar {
      width: 24px;
      height: 24px; }
    .post-body .body pre::-webkit-scrollbar-thumb {
      border: 10px solid #ECEFF5;
      background-color: #98A8B9; }
      .post-body .body pre::-webkit-scrollbar-thumb:active {
        background-color: #263747; }
    .post-body .body pre code {
      font-size: 18px;
      line-height: 1.3;
      margin: 0 0 16px 0;
      padding: 0;
      background-color: transparent; }
      @media (max-width: 767px) {
        .post-body .body pre code {
          font-size: 16px; } }
  .post-body .body a {
    text-decoration: underline; }
  .post-body .body blockquote {
    margin: 64px 0;
    padding: 0 0 0 64px;
    color: #44576C; }
    .post-body .body blockquote, .post-body .body blockquote p {
      font-size: 32px;
      line-height: 1.6; }
    @media (max-width: 767px) {
      .post-body .body blockquote {
        margin: 32px 0;
        padding: 0 0 0 32px; }
        .post-body .body blockquote, .post-body .body blockquote p {
          font-size: 22px; } }
  .post-body .body ul, .post-body .body ol {
    font-size: 22px;
    line-height: 1.7;
    margin: 0 0 16px 0;
    padding: 0 0 0 26px;
    margin: 0 0 32px 0; }
    @media (max-width: 767px) {
      .post-body .body ul, .post-body .body ol {
        font-size: 18px;
        line-height: 1.7; } }
.post-body .btn-edit {
  margin-top: 40px; }

.form-post {
  margin-top: 24px; }
  .form-post label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    vertical-align: bottom; }
  .form-post input,
  .form-post textarea {
    display: block;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #E1E7EE;
    padding: 8px 0;
    border-radius: 0;
    outline: none;
    width: 100%;
    -webkit-appearance: none; }
    .form-post input:hover, .form-post input:focus,
    .form-post textarea:hover,
    .form-post textarea:focus {
      border-color: #263747; }
    .form-post input::placeholder,
    .form-post textarea::placeholder {
      color: #CDD7E0; }
    .form-post input::-webkit-input-placeholder,
    .form-post textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #CDD7E0; }
    .form-post input::-moz-placeholder,
    .form-post textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #CDD7E0; }
    .form-post input:-ms-input-placeholder,
    .form-post textarea:-ms-input-placeholder {
      /* IE 10+ */
      color: #CDD7E0; }
    .form-post input:-moz-placeholder,
    .form-post textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #CDD7E0; }
  .form-post textarea {
    min-height: 50vh; }
  .form-post .btn-save {
    background-color: #673AB7;
    color: white; }
    .form-post .btn-save:hover {
      background-color: #512DA8; }

/*# sourceMappingURL=blog.css.map */
